<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ProjetEportfolio</display-name>
  <filter>
    <filter-name>connectJDBC</filter-name>
    <filter-class>com.vianney.filters.connectJDBC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>connectJDBC</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
<!--   <filter>
    <filter-name>RestFilter</filter-name>
    <filter-class>com.vianney.filters.connectJDBC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>connectJDBC</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>com.vianney.filters.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/compte/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LogCreateStagiaire</filter-name>
    <filter-class>com.vianney.filters.LogCreateStagiaire</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogCreateStagiaire</filter-name>
    <url-pattern>/creationstagiaire/</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EffacerCompetence</servlet-name>
    <servlet-class>com.vianney.servlet.EffacerCompetenceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterEntreprise</servlet-name>
    <servlet-class>com.vianney.servlet.AjouterEntrepriseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChercherMetier</servlet-name>
    <servlet-class>com.vianney.servlet.ChercherMetierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterCompetence</servlet-name>
    <servlet-class>com.vianney.servlet.AjouterCompetenceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterFormation</servlet-name>
    <servlet-class>com.vianney.servlet.AjouterFormationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LierEntrepriseMetier</servlet-name>
    <servlet-class>com.vianney.servlet.LierEntrepriseMetierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterMetier</servlet-name>
    <servlet-class>com.vianney.servlet.AjouterMetierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifierStagaire</servlet-name>
    <servlet-class>com.vianney.servlet.ModifierStagiaireServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VoirEntreprise</servlet-name>
    <servlet-class>com.vianney.servlet.VoirEntrepriseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>com.vianney.servlet.ConnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnection</servlet-name>
    <servlet-class>com.vianney.servlet.DeconnectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.vianney.servlet.Index</servlet-class>
    <init-param>
      <param-name>Projet</param-name>
      <param-value>Projet Fil Rouge</param-value>
    </init-param>
    <init-param>
      <param-name>Utilisateur</param-name>
      <param-value>Vianney Bailleux</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CreateStagiaireServlet</servlet-name>
    <servlet-class>com.admin.servlet.CreateStagiaire</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StagiaireServlet</servlet-name>
    <servlet-class>com.vianney.servlet.StagiaireServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>StagiairesServlet</servlet-name>
    <servlet-class>com.vianney.servlet.StagiairesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EffacerCompetence</servlet-name>
    <url-pattern>/compte/competence/effacer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChercherMetier</servlet-name>
    <url-pattern>/compte/metier/chercher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterEntreprise</servlet-name>
    <url-pattern>/compte/entreprise/ajouter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterCompetence</servlet-name>
    <url-pattern>/compte/competence/ajouter/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LierEntrepriseMetier</servlet-name>
    <url-pattern>/compte/metier/id/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterMetier</servlet-name>
    <url-pattern>/compte/metier/ajouter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifierStagaire</servlet-name>
    <url-pattern>/compte/stagiaire/modifier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoirEntreprise</servlet-name>
    <url-pattern>/entreprise/id/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterFormation</servlet-name>
    <url-pattern>/compte/formation/ajouter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnection</servlet-name>
    <url-pattern>/deconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateStagiaireServlet</servlet-name>
    <url-pattern>/admin/stagiaire/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StagiaireServlet</servlet-name>
    <url-pattern>/stagiaire/id/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StagiairesServlet</servlet-name>
    <url-pattern>/stagiaires/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.html</location>
  </error-page>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Partie admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>